<table class='metrics'>
  <thead>
    <tr>
      {{#each headers}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each region.teams}}
      {{bean-team-standing team=this}}
    {{/each}}
  </tbody>
</table>
