# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/libpeerconnection.log

/vendor/*

!/vendor/ember-data.js
!/vendor/jquery.atmosphere.js
!/vendor/loader.js
!/vendor/d3.js
!/vendor/ember/index.js
!/vendor/moment.js

.DS_Store

chef-test.pem
