<div class="container">
  <div id="logo-container">
    <h1>
      <span class="ziggrid-text">Ziggrid</span>
      <span class="bean-counter-text">- Bean Counter</span>
    </h1>
  </div>

  {{outlet}}
</div>
