<div class="page" id="grid-page">
  <div class="grid">
    <div class="box grid-33">
      {{bean-table headers=leaderboard.headers entries=leaderboard.entries}}
    </div>
    <div class="box grid-33">
      {{bean-table headers=otherThing.headers entries=otherThing.entries}}
    </div>
  </div>
  {{bean-player}}
</div>


