<div class="page" id="grid-page">
  <div class="grid">
    <div class="box grid-33">
      {{bean-table headers=leaderboard.headers entries=leaderboard.entries}}
    </div>
    <div class="box grid-33">
      {{bean-table headers=otherThing.headers entries=otherThing.entries}}
    </div>
  </div>
  {{bean-player}}
</div>

<div class="page" id="quadrant-page">
  <h1>Magic Quadrant Analysis</h1>
  <div> The Quadrant</div>

  {{bean-player}}
</div>
