<div class="page" id="quadrant-page">
  <div class="page-content">
    <h1 id="quadrant-page-header">Magic Quadrant Analysis</h1>

    {{render 'filter'}}

    {{bean-quadrant players=players watchedPlayers=watchedQuadrantPlayers}}
  </div>

  {{bean-player progress=progress didBeginPlaying='didBeginPlaying' didEndPlaying='didEndPlaying'}}
</div>
