<div class="page" id="quadrant-page">
  <div class="page-content">
    <h1 class="stats-header">Magic Quadrant Analysis</h1>

    {{render 'filter'}}

    {{bean-quadrant season=filter players=players watchedPlayers=watchedQuadrantPlayers}}
  </div>

  {{bean-player progressText=currentDateText progress=progress didBeginPlaying='didBeginPlaying' didEndPlaying='didEndPlaying'}}
</div>
