<div {{bind-attr class=":quadrant-popup content:player-present"}}>
  <h1>I am the quadrant player {{name}}!</h1>
  <p>Hotness: {{hotness}}</p>
  <p>Hotness: {{goodness}}</p>

  <img src="/tse.png" alt="tse" />

  <div class="footer">
    Riggs Bolshevik
  </div>
</div>
