<div class="page" id="quadrant-page">
  <div class="page-content">
    <h1>Magic Quadrant Analysis</h1>

    {{render 'filter'}}

    {{bean-quadrant players=players}}
  </div>

  {{bean-player}}
</div>
