{{#each league in leagues}}
  <div class="standings-column">
    <h3>{{league.name}}</h3>
    {{bean-standings league=league region="east"}}
    {{bean-standings league=league region="cental"}}
    {{bean-standings league=league region="west"}}
  </div>
{{/each}}
