{{#each leagues}}
  <div class="standings-column">
    <h3>{{name}}</h3>
    {{bean-standings standings=standings region="east"}}
    {{bean-standings standings=standings region="cental"}}
    {{bean-standings standings=standings region="west"}}
  </div>
{{/each}}
