{{#each league in leagues}}
  <div class="standings-column">
    <h1>{{league.name}}</h1>
    {{bean-standings league=league region="east"}}
    {{bean-standings league=league region="cental"}}
    {{bean-standings league=league region="west"}}
  </div>
{{/each}}
