<h1>Statistics</h1>
<table>
  <tbody>
    <tr>
      <th>Season</th>
      <th>Player</th>
      <th>Average</th>
    </tr>
    {{#each}}
      <tr>
        <td>2006</td>
        <td>{{id}}</td>
        <td>{{f1}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
