<h1>Batting Leaders</h1>
<table class='metrics'>
  <thead>
    <tr>
      <th>Season</th>
      <th>Player</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>2006</td>
        <td>{{id}}</td>
        <td class='value'>{{f1}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
